Repository department-of-veterans-affairs/developer-portal, pull requests merged in 2020-11, with the labels that each got.

#531 API-3126: Hook Migration: QuickStartWrapper and TestingNotice
  src/Routes.tsx
  src/components/TestingNotice.tsx
  src/components/hero/Hero.tsx
  src/components/index.ts
  src/components/markdownPage/MarkdownPage.tsx
  src/components/quickStartWrapper/QuickstartWrapper.tsx
  src/containers/Home.tsx
  src/containers/documentation/QuickstartPage.tsx
Labels: koala

#527 API-3125: Hook Migration MainNavItem, SelectedApis
  src/components/mainNavItem/MainNavItem.tsx
  src/containers/apply/SelectedApis.tsx
Labels: koala

#526 API-2447 - Add testing for VersionSelect
  src/containers/documentation/swaggerPlugins/VersionSelect.test.tsx
Labels: quokka

#534 Remove ESLint checks from dev server compilation
  .eslintignore
  .eslintrc.ci.js
  .eslintrc.js
  Jenkinsfile
  Makefile
  config/webpack.config.dev.js
  jest-puppeteer.config.js
  package-lock.json
  package.json
Labels: okapi

#545 Remove "are you a vet" banner from the developer portal
  src/containers/Home.tsx
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-the-homepage-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-the-homepage-properly-2-snap.png
Labels: okapi

#536 Create feature flag for new oauth docs
  .env.dev
  .env.production
  .env.staging
  src/Routes.tsx
  src/components/authorizationCard/AuthorizationCard.tsx
  src/containers/documentation/ApiDocumentation.test.tsx
  src/containers/documentation/AuthorizationDocs.tsx
  src/containers/documentation/AuthorizationDocsLegacy.scss
  src/containers/documentation/AuthorizationDocsLegacy.tsx
  src/containers/documentation/CategoryPage.tsx
  src/containers/documentation/DocumentationOverview.tsx
  src/containers/documentation/DocumentationRoot.tsx
  src/flags.ts
  src/types/constants/index.ts
Labels: okapi

#541 API - 2988: Update Accessibility Props for Hover Image
  src/components/hoverImage/HoverImage.test.tsx
  src/components/hoverImage/HoverImage.tsx
Labels: koala

#551 API-1848: Fix Swagger Description Links for Font, Size, and Color
  src/styles/swagger.scss
Labels: koala

#496 Api 2900: Create Fetch Wrapper
  .eslintrc.js
  package-lock.json
  package.json
  src/utils/makeRequest.ts
Labels: koala

#552 API-3029: Set colors so contrast is at least 4.5:1
  src/App.tsx
  src/base.accessibility.ts
  src/styles/atom-one-dark-reasonable-overrides.scss
Labels: koala

#550 API-3542 - Test Header component
  src/components/header/Header.test.tsx
Labels: quokka
