Repository department-of-veterans-affairs/developer-portal, pull requests merged in 2020-09, with the labels that each got.

#412 API-2138 - Secondary Skip Nav within the main content element
  src/components/Header.scss
  src/components/PageHeader.tsx
  src/components/QuickstartWrapper.tsx
  src/components/SideNav.scss
  src/components/SideNav.tsx
  src/containers/apply/ApplyForm.tsx
  src/containers/apply/ApplyHeader.tsx
  src/containers/apply/ApplySuccess.tsx
  src/containers/documentation/ApiPage.tsx
  src/containers/documentation/CategoryPage.tsx
  src/containers/support/Support.tsx
  src/containers/support/SupportOverview.tsx
  src/content/goLive.mdx
  src/content/providers/integrationGuide.mdx
  src/content/supportConfirmation.mdx
  src/content/termsOfService.mdx
  src/styles/base.scss
  src/types/constants/index.ts
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-go-live-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-go-live-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-go-live-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-terms-of-service-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-terms-of-service-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-terms-of-service-properly-3-snap.png
Labels: enhancement

#439 API-2499: Hook migration ReleaseNotes, Support, SupportFAQ
  src/containers/support/SupportFAQ.tsx
Labels: koala

#438 API-2498: Hooks migration header component
  src/App.tsx
  src/components/Header.tsx
  src/components/header/Header.scss
  src/components/header/Header.tsx
  src/components/index.ts
Labels: koala

#441 API-2495: Hooks migration SupportContactUs component
  src/containers/support/SupportContactUs.tsx
Labels: koala

#442 Api 2496: Hook migration for ApiPage, VeteransCrisisLine
  src/components/crisisLine/VeteransCrisisLine.tsx
  src/containers/documentation/ApiPage.tsx
  src/hooks/ModalController.tsx
  src/types/images.d.ts
Labels: koala

#444 fix side skip nav hover bug
  package-lock.json
  src/components/SideNav.scss
Labels: okapi
