Repository department-of-veterans-affairs/developer-portal, pull requests merged in 2020-12, with the labels that each got.

#567 Add initial tests for AuthorizationCard
  src/components/authorizationCard/AuthorizationCard.test.tsx
Labels: koala

#565 API-3755: Added unit test to CrisisPanelInfo component.
  package.json
  src/components/crisisLine/CrisisPanelInfo.test.tsx
Labels: koala

#569 API-3736/support contact us form fetch migration
  src/containers/support/SupportContactUsForm.test.tsx
  src/containers/support/SupportContactUsForm.tsx
Labels: koala

#553 Static content for new auth page
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  package-lock.json
  package.json
  src/components/index.ts
  src/components/oauthDocs/AuthCodeAuthorizationRedirect.mdx
  src/components/oauthDocs/AuthCodeDeleteGrantRequest.mdx
  src/components/oauthDocs/AuthCodeFlowAuthRequestURL.mdx
  src/components/oauthDocs/AuthCodeFlowContent.tsx
  src/components/oauthDocs/AuthCodeFlowQueryParamsTable.mdx
  src/components/oauthDocs/AuthCodePostManageRequest.mdx
  src/components/oauthDocs/AuthCodePostRefreshTokenRequest.mdx
  src/components/oauthDocs/AuthCodePostRevokeTokenRequest.mdx
  src/components/oauthDocs/AuthCodePostTokenRequest.mdx
  src/components/oauthDocs/AuthCodePostTokenResponse200.mdx
  src/components/oauthDocs/AuthCodePostTokenResponse400.mdx
  src/components/oauthDocs/BuildingOIDCContent.tsx
  src/components/oauthDocs/PKCEAuthContent.tsx
  src/components/oauthDocs/PKCEAuthRequestURL.mdx
  src/components/oauthDocs/PKCEAuthorizationRedirect.mdx
  src/components/oauthDocs/PKCEPostRefreshToken.mdx
  src/components/oauthDocs/PKCEPostTokenRequest.mdx
  src/components/oauthDocs/PKCEPostTokenResponses.mdx
  src/components/oauthDocs/PKCEQueryParamsTable.mdx
  src/components/sectionHeaderWrapper/SectionHeaderWrapper.scss
  src/components/sectionHeaderWrapper/SectionHeaderWrapper.tsx
  src/containers/documentation/AuthorizationDocs.scss
  src/containers/documentation/AuthorizationDocs.test.tsx
  src/containers/documentation/AuthorizationDocs.tsx
  src/containers/documentation/AuthorizationDocsLegacy.tsx
  src/content/apiDocs/oauth/GettingStarted.mdx
  src/content/apiDocs/oauth/IdToken.mdx
  src/content/apiDocs/oauth/PageLinks.mdx
  src/content/apiDocs/oauth/Scopes.mdx
  src/content/apiDocs/oauth/TestUsers.mdx
  src/content/apiDocs/oauth/oauthTechnicalLegacy.mdx
Labels: okapi

#562 Api 3786: Use semantic tags on main page
  src/components/banner/Banner.tsx
  src/containers/Home.tsx
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-the-homepage-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-the-homepage-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-the-homepage-properly-3-snap.png
Labels: koala

#572 API-3760/veteran crisis line test coverage
  src/components/crisisLine/VeteransCrisisLine.test.tsx
  src/components/crisisLine/VeteransCrisisLinePanel.test.tsx
Labels: koala

#558 API-3543 - adds testing for PageContent component
  src/components/pageContent/PageContent.test.tsx
Labels: quokka

#573 API-3757: Test for Hero Component
  src/components/hero/Hero.test.tsx
Labels: koala

#576 Api 3759/side nav test coverage
  src/components/sideNav/SideNav.test.tsx
  src/components/sideNav/SideNav.tsx
Labels: koala

#586 Api 3497: Import extend-expect for all unit tests
  config/jest/setupJestPostEnv.js
  package-lock.json
  src/components/authorizationCard/AuthorizationCard.test.tsx
  src/components/crisisLine/CrisisPanelInfo.test.tsx
  src/components/crisisLine/VeteransCrisisLine.test.tsx
  src/components/crisisLine/VeteransCrisisLinePanel.test.tsx
  src/components/header/Header.test.tsx
  src/components/hero/Hero.test.tsx
  src/components/navBar/NavBar.test.tsx
  src/components/pageContent/PageContent.test.tsx
  src/components/sideNav/SideNav.test.tsx
  src/components/sideNav/SideNavEntry.test.tsx
  src/containers/News.test.tsx
  src/containers/documentation/ApiDocumentation.test.tsx
  src/containers/documentation/AuthorizationDocs.test.tsx
  src/containers/documentation/swaggerPlugins/CurlForm.test.tsx
  src/containers/documentation/swaggerPlugins/VersionSelect.test.tsx
  src/containers/releaseNotes/CategoryReleaseNotes.test.tsx
  src/containers/releaseNotes/ReleaseNotes.test.tsx
  src/containers/releaseNotes/ReleaseNotesOverview.test.tsx
  src/containers/support/SupportContactUsForm.test.tsx
  unit.jest.config.js
Labels: koala

#585 API-3529 - Test ApplyForm and related components
  src/containers/apply/ApplyForm.test.tsx
  src/containers/apply/ApplyHeader.test.tsx
  src/containers/apply/DeveloperInfo.test.tsx
  src/containers/apply/OAuthAppInfo.test.tsx
  src/containers/apply/SelectedApis.test.tsx
Labels: quokka

#570 API-3758: Add test for MarkdownPage
  src/components/markdownPage/MarkdownPage.test.tsx
Labels: koala

#577 API: 2935 - Remove HoverImage Component
  src/components/hoverImage/HoverImage.test.tsx
  src/components/hoverImage/HoverImage.tsx
  src/components/index.ts
  src/containers/News.scss
  src/containers/News.tsx
Labels: koala
