Repository department-of-veterans-affairs/developer-portal, pull requests merged in 2020-10, with the labels that each got.

#437 Api 2500: Hooks migration CategoryReleaseNotes, ServersContainer, OperationTag
  src/containers/documentation/swaggerPlugins/Servers.jsx
  src/containers/documentation/swaggerPlugins/ServersContainer.jsx
  src/containers/documentation/swaggerPlugins/index.tsx
Labels: koala

#445 API-2535: Hooks Migration App and AuthorizationCard
  src/App.tsx
  src/components/AuthorizationCard.tsx
  src/components/authorizationCard/AuthorizationCard.tsx
  src/components/index.ts
  src/containers/documentation/CategoryPage.tsx
Labels: koala

#440 Upgrade Jest and related testing tools packages
  package-lock.json
  package.json
  src/base.accessibility.ts
  src/components/CodeWrapper.tsx
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-benefits-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-docs-quickstart-properly-2-snap.png
Labels: okapi

#443 Api 1402/log validation errors
  src/actions/apply.spec.ts
  src/actions/apply.ts
  src/containers/support/SupportContactUsForm.test.tsx
  src/containers/support/SupportContactUsForm.tsx
Labels: quokka

#447 Api 2546: Hook migration for banner
  src/__mocks__/fakeImage.ts
  src/components/Banner.test.tsx
  src/components/Banner.tsx
  src/types/images.d.ts
  unit.jest.config.js
Labels: koala

#464 API-2534: Hooks Migration CardLink, CodeWrapper, & PageHeader Components
  src/components/CardLink.tsx
  src/components/CodeWrapper.tsx
  src/components/PageHeader.tsx
Labels: koala

#462 2527/hooks migration
  src/containers/Home.tsx
  src/containers/News.tsx
  src/containers/documentation/ApiKeyAuth.tsx
  src/containers/documentation/AuthorizationDocs.tsx
  src/containers/documentation/CategoryPage.tsx
Labels: koala

#461 Api 2523: Hooks migration for Home and News
  src/containers/News.tsx
Labels: koala

#458 Fix ESLint checks for Support components
  .eslintrc.js
  package.json
  src/components/GroupedAccordions.tsx
  src/containers/support/Support.tsx
  src/containers/support/SupportContactUsForm.test.tsx
  src/containers/support/SupportContactUsForm.tsx
  src/containers/support/SupportFAQ.tsx
  src/containers/support/SupportOverview.tsx
  tslint.json
Labels: okapi

#459 Fix ESLint check in API definitions
  Jenkinsfile
  package.json
  src/App.tsx
  src/Routes.tsx
  src/__mocks__/fakeCategories.tsx
  src/apiDefs/data/appeals.ts
  src/apiDefs/data/benefits.ts
  src/apiDefs/data/categories.ts
  src/apiDefs/data/facilities.ts
  src/apiDefs/data/health.ts
  src/apiDefs/data/vaForms.ts
  src/apiDefs/data/verification.ts
  src/apiDefs/deprecated.test.ts
  src/apiDefs/deprecated.ts
  src/apiDefs/env.test.ts
  src/apiDefs/env.ts
  src/apiDefs/query.test.ts
  src/apiDefs/query.ts
  src/apiDefs/schema.ts
  src/containers/apply/ApplyForm.tsx
  src/containers/documentation/ApiDocumentation.test.tsx
  src/containers/documentation/ApiDocumentation.tsx
  src/containers/documentation/ApiPage.tsx
  src/containers/documentation/CategoryPage.tsx
  src/containers/documentation/DocumentationRoot.tsx
  src/containers/documentation/SwaggerDocs.tsx
  src/containers/releaseNotes/CategoryReleaseNotes.test.tsx
  src/containers/releaseNotes/CategoryReleaseNotes.tsx
  src/containers/releaseNotes/ReleaseNotes.test.tsx
  src/containers/releaseNotes/ReleaseNotes.tsx
  src/containers/releaseNotes/ReleaseNotesOverview.test.tsx
  src/content/apiDocs/appeals/index.ts
  src/content/apiDocs/benefits/index.ts
  src/content/apiDocs/facilities/index.ts
  src/content/apiDocs/health/index.ts
  src/content/apiDocs/vaForms/index.ts
  src/content/apiDocs/verification/index.ts
  src/types/constants/index.ts
Labels: okapi

#470 Api 2530/hook migration ApplyForm, Search, and DeveloperInfo
  src/components/NavBar.tsx
  src/components/Search.tsx
  src/components/header/Header.tsx
  src/components/index.ts
  src/components/search/Search.scss
  src/components/search/Search.tsx
  src/containers/Home.tsx
  src/containers/News.tsx
  src/containers/apply/ApplyForm.tsx
  src/containers/apply/DeveloperInfo.tsx
Labels: koala

#469 API-2544: Use React hooks for GroupedAccordions component
  src/components/GroupedAccordions.tsx
  src/components/groupedAccordions/GroupedAccordions.scss
  src/components/groupedAccordions/GroupedAccordions.test.tsx
  src/components/groupedAccordions/GroupedAccordions.tsx
  src/components/index.ts
  src/containers/support/SupportFAQ.tsx
Labels: koala

#448 API-2536: Hooks Migration SupportContactUsForm Component
  src/containers/support/SupportContactUsForm.test.tsx
  src/containers/support/SupportContactUsForm.tsx
Labels: koala

#449 Api 2543: Hook migration for PageContent
  src/App.tsx
  src/components/PageContent.tsx
  src/components/index.ts
  src/components/pageContent/PageContent.tsx
  src/hooks/ModalController.tsx
Labels: koala

#463 Api 2541: Hook migrations for ApiDocumentation
  src/apiDefs/schema.ts
  src/components/crisisLine/VeteransCrisisLine.tsx
  src/containers/documentation/ApiDocumentation.tsx
  src/hooks/ModalController.tsx
  src/hooks/index.ts
  src/hooks/previous/Previous.test.tsx
  src/hooks/previous/Previous.tsx
Labels: koala

#471 API-2526: Hooks Migration DocumentationOverview, DocumentationRoot, QuickStartPage
  src/containers/documentation/DocumentationOverview.tsx
  src/containers/documentation/DocumentationRoot.tsx
  src/containers/documentation/QuickstartPage.tsx
Labels: koala

#468 Upgrade react-router and react-router-dom to 5.2.0
  SitemapBuilderWebpackPlugin.js
  package-lock.json
  package.json
  src/components/MainNavItem.tsx
  src/components/NavBar.tsx
  src/components/SideNav.test.tsx
  src/components/SideNav.tsx
Labels: okapi

#481 Api 2545: Hook migration for form component
  src/components/Form.test.tsx
  src/components/Form.tsx
  src/components/form/Form.test.tsx
  src/components/form/Form.tsx
  src/components/index.ts
  src/containers/support/SupportContactUsForm.test.tsx
  src/containers/support/SupportContactUsForm.tsx
Labels: koala

#490 Hotfix/secondary skip nav timing issue
  src/utils/clickHandlers.ts
Labels: okapi

#488 API-2908: update category page to use route hooks
  src/containers/documentation/AuthorizationDocs.tsx
  src/containers/documentation/CategoryPage.tsx
Labels: koala

#491 API 2910: Update Documentation Root to use Route Hooks
  src/containers/documentation/DocumentationRoot.tsx
Labels: koala

#487 API-2943: Add ModalController test
  package-lock.json
  package.json
  src/hooks/index.ts
  src/hooks/modalController/ModalController.test.tsx
  src/hooks/modalController/ModalController.tsx
  src/hooks/previous/Previous.test.tsx
  src/hooks/previous/Previous.tsx
Labels: koala

#484 API-2650: Use route hooks for ApiPage
  src/containers/documentation/ApiPage.tsx
Labels: koala

#493 API-2909: Use route hooks on PageContent
  src/components/pageContent/PageContent.tsx
Labels: koala

#494 API 2911: Update QuickStart page to use Route hooks
  src/containers/documentation/QuickstartPage.tsx
Labels: koala

#495 API 2912: Update Category Release Notes to use Route Hooks
  src/containers/releaseNotes/CategoryReleaseNotes.tsx
Labels: koala

#485 Convert JS Swagger plugins to TS and fix ESLint errors
  .env.dev
  .env.production
  .env.staging
  package-lock.json
  package.json
  src/containers/documentation/swaggerPlugins/DisableTryItOut.jsx
  src/containers/documentation/swaggerPlugins/OperationTag.jsx
  src/containers/documentation/swaggerPlugins/OperationTag.tsx
  src/containers/documentation/swaggerPlugins/curlify.js
  src/containers/documentation/swaggerPlugins/curlify.test.ts
  src/containers/documentation/swaggerPlugins/curlify.ts
  src/containers/documentation/swaggerPlugins/index.tsx
  src/types/swagger-client.d.ts
  src/types/swagger-ui.d.ts
Labels: okapi

#489 Fix ESLint errors in actions directory
  package.json
  src/actions/apply.spec.ts
  src/actions/apply.ts
  src/actions/index.ts
  src/containers/apply/SelectedApis.tsx
  src/containers/documentation/SwaggerDocs.tsx
  src/reducers/api-versioning.ts
  src/reducers/index.spec.ts
  src/types/apply.ts
Labels: okapi

#480 API-2542: Hooks migration SideNav
  src/components/SideNav.tsx
  src/components/index.ts
  src/components/sideNav/SideNav.scss
  src/components/sideNav/SideNav.test.tsx
  src/components/sideNav/SideNav.tsx
  src/components/sideNav/SideNavEntry.tsx
  src/containers/News.tsx
  src/containers/documentation/DocumentationRoot.tsx
  src/containers/releaseNotes/ReleaseNotes.tsx
  src/containers/support/Support.tsx
Labels: koala

#499 Fix ESLint errors in Banner, CardLink, and Footer components
  src/App.tsx
  src/components/Footer.tsx
  src/components/authorizationCard/AuthorizationCard.tsx
  src/components/banner/Banner.scss
  src/components/banner/Banner.test.tsx
  src/components/banner/Banner.tsx
  src/components/cardLink/CardLink.scss
  src/components/cardLink/CardLink.test.tsx
  src/components/cardLink/CardLink.tsx
  src/components/footer/Footer.scss
  src/components/footer/Footer.test.tsx
  src/components/footer/Footer.tsx
  src/components/header/Header.tsx
  src/components/index.ts
  src/containers/Home.tsx
  src/containers/News.tsx
  src/containers/documentation/CategoryPage.tsx
  src/containers/documentation/DocumentationOverview.tsx
  src/containers/releaseNotes/CategoryReleaseNotes.tsx
  src/containers/releaseNotes/ReleaseNotesOverview.tsx
  src/containers/support/SupportOverview.tsx
Labels: okapi

#497 Fix remaining ESLint errors in Swagger plugins
  package.json
  src/containers/documentation/swaggerPlugins/ExtendedLayout.tsx
  src/containers/documentation/swaggerPlugins/VersionSelector.ts
  src/containers/documentation/swaggerPlugins/WrapParameters.tsx
  src/containers/documentation/swaggerPlugins/index.tsx
  src/containers/documentation/swaggerPlugins/types.ts
Labels: okapi

#475 Fix ESLint errors in Release Notes
  .eslintrc.js
  package.json
  src/containers/releaseNotes/CategoryReleaseNotes.test.tsx
  src/containers/releaseNotes/CategoryReleaseNotes.tsx
  src/containers/releaseNotes/ReleaseNotes.test.tsx
  src/containers/releaseNotes/ReleaseNotes.tsx
  src/containers/releaseNotes/ReleaseNotesOverview.test.tsx
  src/containers/releaseNotes/ReleaseNotesOverview.tsx
Labels: okapi

#498 Fix ESLint errors in Redux reducers
  package.json
  src/reducers/api-versioning.ts
  src/reducers/index.spec.ts
  src/reducers/index.ts
  src/types/constants/index.ts
Labels: okapi

#501 Fix ESLint errors in Hero, MainNavItem, and MarkdownPage
  package.json
  src/components/Hero.tsx
  src/components/MarkdownPage.tsx
  src/components/PageHeader.test.tsx
  src/components/crisisLine/VeteransCrisisLine.tsx
  src/components/index.ts
  src/components/mainNavItem/MainNavItem.test.tsx
  src/components/mainNavItem/MainNavItem.tsx
  src/components/navBar/NavBar.tsx
Labels: okapi

#500 Fix ESLint errors in Apply components
  package.json
  src/containers/apply/ApplyForm.tsx
  src/containers/apply/ApplyHeader.tsx
  src/containers/apply/ApplySuccess.tsx
  src/containers/apply/DeveloperInfo.tsx
  src/containers/apply/OAuthAppInfo.tsx
  src/containers/apply/SelectedApis.tsx
  src/types/constants/index.ts
Labels: okapi

#514 Enable stylistic ESLint rules from main ESLint package
  .eslintrc.js
  package-lock.json
  package.json
  src/App.e2e.ts
  src/App.tsx
  src/Routes.tsx
  src/__mocks__/mockSwagger.ts
  src/actions/apply.spec.ts
  src/actions/apply.ts
  src/apiDefs/data/health.ts
  src/apiDefs/query.test.ts
  src/apiDefs/query.ts
  src/apiDefs/schema.ts
  src/base.accessibility.ts
  src/components/banner/Banner.tsx
  src/components/cardLink/CardLink.tsx
  src/components/form/Form.test.tsx
  src/components/form/Form.tsx
  src/components/groupedAccordions/GroupedAccordions.tsx
  src/components/pageContent/PageContent.tsx
  src/components/search/Search.tsx
  src/components/sideNav/SideNav.tsx
  src/components/sideNav/SideNavEntry.test.tsx
  src/components/sideNav/SideNavEntry.tsx
  src/containers/Beta.tsx
  src/containers/News.test.tsx
  src/containers/apply/ApplyHeader.tsx
  src/containers/apply/OAuthAppInfo.tsx
  src/containers/documentation/ApiDocumentation.tsx
  src/containers/documentation/ApiKeyAuth.tsx
  src/containers/documentation/AuthorizationDocs.tsx
  src/containers/documentation/CategoryPage.tsx
  src/containers/documentation/DocumentationRoot.e2e.ts
  src/containers/documentation/swaggerPlugins/CurlForm.test.tsx
  src/containers/documentation/swaggerPlugins/CurlForm.tsx
  src/containers/documentation/swaggerPlugins/ExtendedLayout.tsx
  src/containers/documentation/swaggerPlugins/OperationTag.tsx
  src/containers/documentation/swaggerPlugins/VersionSelect.tsx
  src/containers/documentation/swaggerPlugins/curlify.test.ts
  src/containers/releaseNotes/CategoryReleaseNotes.test.tsx
  src/containers/releaseNotes/CategoryReleaseNotes.tsx
  src/containers/releaseNotes/ReleaseNotes.test.tsx
  src/containers/releaseNotes/ReleaseNotesOverview.test.tsx
  src/hooks/modalController/ModalController.test.tsx
  src/hooks/modalController/ModalController.tsx
  src/hooks/previous/Previous.test.tsx
  src/index.tsx
  src/reducers/api-versioning.spec.ts
  src/reducers/api-versioning.ts
  src/reducers/index.spec.ts
  src/reducers/index.ts
  src/registerServiceWorker.ts
  src/store.test.ts
  src/styles/vadsUtils.ts
  src/types/constants/actions/apply.ts
  src/types/md.d.ts
  src/types/swagger-client.d.ts
  src/visualRegressionTest.ts
Labels: okapi

#515 Enable several ES6-related rules from main ESLint module
  .eslintrc.js
  src/components/sideNav/SideNavEntry.tsx
  src/containers/News.tsx
  src/containers/apply/ApplyForm.tsx
  src/containers/documentation/SwaggerDocs.tsx
  src/containers/documentation/swaggerPlugins/CurlForm.tsx
  src/containers/documentation/swaggerPlugins/OperationTag.tsx
  src/containers/documentation/swaggerPlugins/VersionSelect.tsx
  src/containers/support/SupportContactUsForm.tsx
  src/hooks/modalController/ModalController.test.tsx
  src/reducers/index.spec.ts
  src/visualRegressionTest.ts
Labels: okapi

#513 Enable more ESLint rules from main ESLint package
  .eslintrc.js
  src/actions/apply.ts
  src/base.accessibility.ts
  src/components/form/Form.test.tsx
  src/containers/Beta.tsx
  src/containers/documentation/DocumentationRoot.e2e.ts
  src/containers/documentation/SwaggerDocs.tsx
  src/containers/documentation/swaggerPlugins/CurlForm.tsx
  src/containers/documentation/swaggerPlugins/OperationTag.tsx
  src/containers/documentation/swaggerPlugins/VersionSelect.tsx
  src/reducers/index.ts
  src/visualRegressionTest.ts
Labels: okapi

#517 API-2540: Hooks Migration SwaggerDocs Container
  .eslintrc.js
  src/actions/index.ts
  src/containers/documentation/ApiDocumentation.test.tsx
  src/containers/documentation/ApiDocumentation.tsx
  src/containers/documentation/SwaggerDocs.tsx
  src/containers/documentation/swaggerPlugins/VersionActions.ts
  src/containers/documentation/swaggerPlugins/VersionSelect.tsx
  src/containers/documentation/swaggerPlugins/VersionSelector.ts
  src/containers/documentation/swaggerPlugins/types.ts
  src/reducers/api-versioning.spec.ts
  src/reducers/api-versioning.ts
  src/types/constants/actions/version.ts
  src/types/index.ts
Labels: koala
