Repository department-of-veterans-affairs/developer-portal, pull requests merged in 2021-04, with the labels that each got.

#705 [API-3130] Reroute users from invalid pages under /explore and /release-notes to the 404 page
  src/containers/documentation/DocumentationRoot.e2e.ts
  src/containers/documentation/DocumentationRoot.tsx
  src/containers/releaseNotes/CategoryReleaseNotes.test.tsx
  src/containers/releaseNotes/CategoryReleaseNotes.tsx
Labels: enhancement, okapi

#715 Several release notes for tickets deploying today
  src/content/apiDocs/benefits/claimsReleaseNotes.mdx
Labels: Lighthouse

#716 updated comments
  src/content/apiDocs/benefits/benefitsIntakeReleaseNotes.mdx
Labels: BenefitsIntake
