Repository department-of-veterans-affairs/developer-portal, pull requests merged in 2021-03, with the labels that each got.

#631 API-3904: Dependabot Setup
  .github/dependabot.yml
Labels: koala

#642 API-5246: Remove unused prod service worker configuration
  config/webpack.config.prod.js
  package-lock.json
  package.json
Labels: koala

#655 API-5390: Fix postcss-loader blocked version in dependabot version config
  .github/dependabot.yml
Labels: koala

#651 [API-5452] Upgrade swagger-ui to 3.44.0 and remove temporary CSS fix
  package-lock.json
  package.json
  src/styles/swagger.scss
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-benefits-properly-3-snap.png
Labels: dependencies, okapi

#689 API-5944 - Fix table css on pages with Swagger-UI documentation
  src/containers/documentation/swaggerPlugins/StyleOverride.scss
Labels: bug

#691 [API-5904] - Update Release Notes for ClaimsApi Endpoint Deprecations
  src/content/apiDocs/benefits/claimsReleaseNotes.mdx
Labels: Lighthouse

#690 API-5876: Add release note for change
  src/content/apiDocs/benefits/claimsReleaseNotes.mdx
Labels: Lighthouse
