Repository department-of-veterans-affairs/developer-portal, pull requests merged in 2021-02, with the labels that each got.

#628 API-3418: Update and standardize Benefits APIs descriptions
  src/content/apiDocs/benefits/benefitsIntro.mdx
  src/content/apiDocs/benefits/index.ts
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-the-homepage-properly-3-snap.png
Labels: Lighthouse

#627 API-5057: All dependencies upgraded to the latest version the app supports.
  package-lock.json
  package.json
  src/components/form/Form.test.tsx
  src/components/navBar/NavBar.test.tsx
  src/components/sideNav/SideNavEntry.test.tsx
  src/containers/apply/ApplyForm.test.tsx
  src/containers/apply/DeveloperInfo.test.tsx
  src/containers/apply/OAuthAppInfo.test.tsx
  src/containers/releaseNotes/CategoryReleaseNotes.test.tsx
  src/containers/releaseNotes/ReleaseNotes.test.tsx
  src/containers/releaseNotes/ReleaseNotesOverview.test.tsx
  src/containers/support/SupportContactUsForm.test.tsx
  src/hooks/modalController/ModalController.test.tsx
Labels: dependencies, koala

#629 API 4493: upgrade webpack to latest version of 4
  SitemapBuilderWebpackPlugin.js
  package-lock.json
  package.json
Labels: koala

#632 API-5179: Update to latest version all dependencies that only require minor/zero changes
  .husky/.gitignore
  .husky/pre-commit
  config/polyfills.js
  config/webpack.config.prod.js
  e2e.jest.config.js
  package-lock.json
  package.json
  setupJest.ts
  src/actions/apply.spec.ts
  src/containers/documentation/ApiDocumentation.test.tsx
  src/containers/support/ContactUsFormLegacy.test.tsx
  src/utils/makeRequest.test.ts
  unit.jest.config.js
  visual.jest.config.js
Labels: dependencies, koala

#633 API-5229: Upgrade swagger UI dependencies
  package-lock.json
  package.json
  src/styles/swagger.scss
Labels: dependencies, koala

#637 API-5230: upgrade markdown it dependencies
  package-lock.json
  package.json
Labels: dependencies, koala

#646 API-5230: Hide authorization button (lock icon) from swagger ui
  .husky/.gitignore
  src/styles/swagger.scss
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-appeals-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-appeals-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-appeals-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-benefits-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-benefits-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-benefits-properly-3-snap.png
Labels: koala
