Repository department-of-veterans-affairs/developer-portal, pull requests merged in 2021-05, with the labels that each got.

#720 API-6498: Release note for Limited Consent Schema correction
  src/content/apiDocs/benefits/claimsReleaseNotes.mdx
Labels: Lighthouse

#734 API-6581: Update Terms of Service (FE)
  src/content/termsOfService.mdx
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-terms-of-service-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-terms-of-service-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-terms-of-service-properly-3-snap.png
Labels: lighthouse-marmoset

#742 API-7143 Update doc path for claims-attributes
  src/apiDefs/data/benefits.ts
Labels: quokka

#733 API-6710: Update support to help guide veterans
  src/containers/support/ContactUs.tsx
  src/containers/support/ContactUsAlertBox.tsx
  src/containers/support/Overview.tsx
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-contact-us-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-contact-us-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-contact-us-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-properly-3-snap.png
Labels: lighthouse-marmoset
