Repository department-of-veterans-affairs/developer-portal, pull requests merged in 2022-05, with the labels that each got.

#1037 May 3 R4 DeviceRequest Update
  src/content/apiDocs/health/fhirAPIReleaseNotes.mdx
Labels: impact: users

#1042 API-15382: Add Provider Directory API to Portal in Dev
  .env.dev
  src/apiDefs/data/health.ts
  src/content/apiDocs/health/index.ts
  src/content/apiDocs/health/providerDirectoryReleaseNotes.mdx
Labels: impact: users

#1043 [API-13962] - Update condition to skip failed previous workflows
  .github/workflows/pr-builds-privileged.yml
  .github/workflows/visual-regressions-privileged.yml
Labels: impact: maintainers

#1040 API-15373 add DeviceRequest to VHAPI OAuth scopes
  src/apiDefs/data/health.ts
Labels: impact: users

#1041 API-15432: Add VA Letter Generator API to Portal in Dev
  .env.dev
  src/apiDefs/data/verification.ts
  src/apiDefs/query.test.ts
  src/content/apiDocs/verification/index.ts
  src/content/apiDocs/verification/vaLetterGeneratorReleaseNotes.mdx
  src/content/apiDocs/verification/verificationOverview.mdx
Labels: impact: users

#1045 [API-13962] - Fix PR fetch from deploy.json file
  .github/workflows/pr-builds-privileged.yml
Labels: impact: maintainers

#1046 [API-13962] - Remove visual test from npm-checks
  .github/workflows/npm-checks.yml
Labels: impact: maintainers

#1044 API-15500: Update Banner for Benefits Claims Deprecation
  src/components/header/Header.tsx
Labels: impact: users

#1048 [API-13962] - Get visual regression branch from artifact storage
  .github/workflows/visual-regressions-privileged.yml
  .github/workflows/visual-regressions-unprivileged.yml
Labels: impact: maintainers

#1049 [API-13962] - Re-download artifacts during visual regressions
  .github/workflows/visual-regressions-privileged.yml
Labels: impact: maintainers

#1051 set post_to_lpb flag to true in production
  .env.production
Labels: impact: maintainers

#1047 [API-14727] - Fix dom nesting errors
  .github/workflows/visual-regressions-privileged.yml
  src/components/apiSelector/APISelector.scss
  src/components/apiSelector/APISelector.tsx
  src/components/oauthDocs/ccg/GeneratingJWTContent.tsx
  src/components/oauthDocs/ccg/RetrievingTokenContent.tsx
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-3-snap.png
Labels: impact: users

#1052 May17OrganizationUpdate.mdx
  src/content/apiDocs/health/fhirAPIReleaseNotes.mdx
Labels: impact: users

#1056 [API-15889] - ClaimsApi - Update Release Notes
  src/content/apiDocs/benefits/claimsReleaseNotes.mdx
Labels: Lighthouse, impact: users

#1055 [API-15828] - Omit page 4 from Vet Confirmation prod access form
  src/apiDefs/data/verification.ts
  src/apiDefs/query.test.ts
  src/containers/consumerOnboarding/RequestProductionAccess.tsx
Labels: impact: users

#1054 [API-15449] - Change Veteran Health to standard layout (dev only)
  .env.dev
  .github/workflows/generate-visual-regressions.yml
  package-lock.json
  src/apiDefs/data/health.ts
  src/apiDefs/query.test.ts
  src/apiDefs/schema.ts
  src/components/apiSelector/APISelector.scss
  src/components/apiSelector/APISelector.tsx
  src/containers/documentation/swaggerPlugins/VersionSelect.test.tsx
  src/containers/documentation/swaggerPlugins/VersionSelect.tsx
  src/setupProxy.js
  src/types/index.ts
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-authorization-code-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-authorization-code-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-authorization-code-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-3-snap.png
Labels: impact: maintainers

#1064 API-000 Correct CHAPI Auth Base Path
  src/apiDefs/data/health.ts
Labels: Lighthouse, impact: users

#1053 Release notes for FAPI supplemental status
  src/content/apiDocs/facilities/facilitiesReleaseNotes.mdx
Labels: impact: users

#1058 May24SortUpdate
  src/content/apiDocs/health/fhirAPIReleaseNotes.mdx
Labels: impact: users

#1030 Api 9122/update notification email field
  cypress/integration/containers/consumerOnboarding/ProductionAccess.spec.js
  src/components/formField/MultiEntryTextField/EditInputField.tsx
  src/components/formField/MultiEntryTextField/MultiEntryTextField.scss
  src/components/formField/MultiEntryTextField/MultiEntryTextField.tsx
  src/components/formField/MultiEntryTextField/index.ts
  src/components/formField/index.ts
  src/containers/consumerOnboarding/ProductionAccess.tsx
  src/containers/consumerOnboarding/components/productionAccessForm/BasicInformation.tsx
  src/containers/consumerOnboarding/validationSchema.ts
  src/hooks/index.ts
  src/hooks/useEffectOnce/useEffectOnce.ts
  src/hooks/useOutsideGroupClick/useOutsideGroupClick.ts
Labels: impact: maintainers

#1033 [API-15108] Veteran Action Link and Modal
  src/components/index.ts
  src/components/veteranResources/VeteranResources.scss
  src/components/veteranResources/VeteranResources.test.tsx
  src/components/veteranResources/VeteranResources.tsx
  src/components/veteranResources/VeteranResourcesContent.test.tsx
  src/components/veteranResources/VeteranResourcesContent.tsx
  src/containers/support/ContactUs.tsx
  src/containers/support/ContactUsAlertBox.tsx
  src/containers/support/Overview.tsx
  src/types/constants/paths.ts
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-contact-us-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-contact-us-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-contact-us-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-support-properly-3-snap.png
Labels: enhancement, impact: users

#1062 API 16037 release notes for FAPI health connect phone number
  src/content/apiDocs/facilities/facilitiesReleaseNotes.mdx
Labels: impact: users

#1066 [API-16379] - Add VA Letter Generator API to staging
  .env.staging
  package.json
  src/apiDefs/data/verification.ts
  src/containers/consumerOnboarding/components/sandbox/SelectedApis.tsx
  src/content/apiDocs/verification/verificationOverview.mdx
Labels: impact: maintainers

#1067 [API-7760] - upgrade webpack to v5 pr builds
  .github/workflows/pr-builds.yml
  .github/workflows/pr-requires-label.yml
  config/webpack.config.prod.js
  package-lock.json
Labels: impact: maintainers, DO NOT MERGE
