Repository department-of-veterans-affairs/developer-portal, pull requests merged in 2022-02, with the labels that each got.

#937 [API-10782] About page and global nav updates
  src/Routes.tsx
  src/__mocks__/news.test.yml
  src/components/navBar/NavBar.test.tsx
  src/components/navBar/NavBar.tsx
  src/containers/News.scss
  src/containers/News.tsx
  src/containers/about/About.scss
  src/containers/about/About.tsx
  src/containers/about/News.e2e.ts
  src/containers/about/News.scss
  src/containers/about/News.test.tsx
  src/containers/about/News.tsx
  src/containers/about/Overview.test.tsx
  src/containers/about/Overview.tsx
  src/containers/about/consumerPartners.ts
  src/containers/about/platformMetrics.ts
  src/containers/about/types/data-section.d.ts
  src/containers/about/types/news-item-data.d.ts
  src/containers/about/types/news-section.d.ts
  src/containers/about/types/platform-metric.d.ts
  src/containers/about/types/side-nav-sub-entry-props.d.ts
  src/e2eHelpers.ts
  src/types/constants/paths.ts
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-about-news-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-about-news-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-about-news-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-about-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-about-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-about-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-4-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-5-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-news-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-news-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-news-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-the-header-properly-2-snap.png
Labels: enhancement

#964 [API-12254] - ClaimsApi - Update Release Notes
  src/content/apiDocs/benefits/claimsReleaseNotes.mdx
Labels: Lighthouse

#979 [API-12829] - Fixes for the MR template for auto deploys
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/assets/maintenance-request.md
  .github/workflows/auto-deploy-to-production.yml
  .github/workflows/auto-label-content-prs.yml
  .github/workflows/create-auto-deploy-maintenance-request.yml
Labels: impact: maintainers

#977 Change code owners
  .github/CODEOWNERS
Labels: impact: maintainers

#981 [API-13220] Facilities Versioning Banner
  package-lock.json
  src/components/header/Header.tsx
  src/types/@department-of-veterans-affairs/component-library/index.d.ts
Labels: enhancement, impact: users

#980 API-13230: Release notes for Claims API
  src/content/apiDocs/benefits/claimsReleaseNotes.mdx
Labels: impact: users

#983 [API-6010] - Add news updates
  src/content/news.yml
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-about-news-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-about-news-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-about-news-properly-3-snap.png
Labels: impact: users

#984 [API-13581] News page urls and redirect
  src/Routes.tsx
  src/containers/ErrorPage.tsx
  src/containers/support/FAQ.tsx
Labels: bug, impact: users

#985 [API-3913] - Fix run cancel with specific repo
  .github/workflows/auto-deploy-to-production.yml
Labels: impact: maintainers

#987 R4 US State Name to State Code Change
  src/content/apiDocs/health/fhirAPIReleaseNotes.mdx
Labels: impact: users
