Repository department-of-veterans-affairs/developer-portal, pull requests merged in 2022-07, with the labels that each got.

#1088 July 6 _lastUpdated Update
  src/content/apiDocs/health/fhirAPIReleaseNotes.mdx
Labels: impact: users

#1090 API-16650: Secondary Text Not Using Correct Styling Rules in Prod Access Form
  src/components/formField/FieldSet/FieldSet.tsx
Labels: impact: users

#1092 API-17200: Add Link to CCG Auth Doc in Sandbox Access Request Form
  src/components/formField/TermsOfServiceCheckbox/TermsOfServiceCheckbox.test.tsx
  src/components/formField/TermsOfServiceCheckbox/TermsOfServiceCheckbox.tsx
  src/containers/consumerOnboarding/components/sandbox/OAuthCcgAppInfo.tsx
  src/containers/consumerOnboarding/components/sandbox/SandboxAccessForm.test.tsx
  src/containers/consumerOnboarding/components/sandbox/SelectedApis.tsx
  src/types/constants/paths.ts
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-docs-quickstart-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-docs-quickstart-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-onboarding-request-sandbox-access-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-onboarding-request-sandbox-access-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-onboarding-request-sandbox-access-properly-3-snap.png
Labels: impact: users

#1095 API-16630 Adds release notes for July 18, 2022
  src/content/apiDocs/benefits/claimsReleaseNotes.mdx
Labels: Lighthouse, impact: users, claimsApi

#1089 API-17064: Update existing version and API select dropdown to match new design from UX
  package-lock.json
  package.json
  src/components/apiSelector/APISelector.scss
  src/components/apiSelector/APISelector.test.tsx
  src/components/apiSelector/APISelector.tsx
  src/containers/documentation/swaggerPlugins/VersionSelect.tsx
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-authorization-code-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-authorization-code-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-authorization-code-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-3-snap.png
Labels: impact: users

#1096 [API-17501] - Future Proofing MR Auto Creation workflow
  .github/workflows/create-auto-deploy-maintenance-request.yml
  .github/workflows/new-release.yml
Labels: impact: maintainers

#1094 [API-17447] - Provider Directory goes to prod
  .env.dev
  .env.staging
  package-lock.json
  src/apiDefs/data/health.ts
  src/containers/consumerOnboarding/components/sandbox/SandboxAccessForm.test.tsx
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-docs-quickstart-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-docs-quickstart-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-onboarding-request-sandbox-access-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-onboarding-request-sandbox-access-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-onboarding-request-sandbox-access-properly-3-snap.png
Labels: impact: users

#1091 API-17065: Update existing API select dropdown above code blocks to match new design from UX
  cypress/integration/containers/documentation/AuthorizationCodeGrantDocs.spec.js
  src/components/apiSelector/APISelector.scss
  src/components/apiSelector/APISelector.test.tsx
  src/components/apiSelector/APISelector.tsx
  src/components/oauthDocs/acg/AuthCodeFlowContent.tsx
  src/components/oauthDocs/acg/PKCEAuthContent.tsx
  src/components/oauthDocs/acg/PageLinks.tsx
  src/components/oauthDocs/acg/ScopesContent.tsx
  src/components/oauthDocs/ccg/RetrievingTokenContent.tsx
  src/containers/documentation/ClientCredentialsGrant/ClientCredentialsGrantDocs.tsx
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-authorization-code-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-authorization-code-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-authorization-code-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-authorization-docs-client-credentials-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-3-snap.png
Labels: impact: users

#1098 July 26 lastUpdated Release Note
  src/content/apiDocs/health/fhirAPIReleaseNotes.mdx
Labels: impact: users

#1101 [API-17688] - Update VA Letter Generator service name
  src/apiDefs/data/verification.ts
Labels: impact: maintainers

#1100 [API-18122] - Fix visual bug on version selector plugin
  src/containers/documentation/swaggerPlugins/VersionSelect.tsx
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-benefits-docs-claims-properly-3-snap.png
Labels: impact: users

#1103 [API-17689] - Patient Health text updates
  src/apiDefs/data/health.ts
  src/containers/consumerOnboarding/components/productionAccessForm/TechnicalInformation.tsx
  src/content/apiDocs/health/healthOverview.mdx
  src/content/apiDocs/health/healthQuickstart.mdx
  src/content/apiDocs/health/index.ts
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-docs-quickstart-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-docs-quickstart-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-docs-quickstart-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-health-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-explore-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-release-notes-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-release-notes-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-release-notes-properly-3-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-the-homepage-properly-1-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-the-homepage-properly-2-snap.png
  test/image_snapshots/visual-regression-test-ts-visual-regression-test-renders-the-homepage-properly-3-snap.png
Labels: impact: users
